ul {
  padding: 0;
}

body {
  /*min-height: 600px;*/
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Microsoft Yahei","WenQuanYi Micro Hei",Arial,Verdana,sans-serif;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #f5f5f5
}

.footer-links {
  padding-top: 20px;
  margin-bottom: 15px;
  align-content: center;
}

.footer-links > ul {
  list-style: none;
}

.footer-links > ul > li {
  display: inline-block;
  margin: 0 18px;
}

.footer-links > ul > li > a {
  font-size: 16px;
  color: #525252;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .search {
  padding: 14px 24px;
  font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.doc-subnav {
  text-align:justify;
  height: 35px;
  background-color: white;
  background-image: none;
  -webkit-box-shadow: none;
}

.doc-subnav .navbar-nav>li>a {
  line-height: 0px;
}

.toc {
  width: 21.3%;
  max-width: 262px;
  margin-right: 20px;
}

@media (min-width: 992px) {
  .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
    width: 213px;
  }
}

@media (min-width: 1200px) {
  .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
    width: 253px;
  }
}

.bs-docs-sidebar.affix {
  position: static;
}

@media (min-width: 992px){
  .bs-docs-sidebar.affix {
    position: fixed;
    top: 20px;
  }
}

@media (min-width: 768px) {
  .bs-docs-sidebar {
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
  .bs-docs-sidebar.affix .bs-docs-sidenav, .bs-docs-sidebar.affix-bottom .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.bs-docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bs-docs-sidebar .nav>li>a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676;
}

.bs-docs-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px;
}

.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 400;
}

.bs-docs-sidebar .nav>.active:focus>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active>a {
  padding-left: 18px;
  font-weight: 700;
  color: #563d7c;
  background-color: transparent;
  border-right: 2px solid #563d7c;
}

.bs-docs-sidebar .nav>li>a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676;
}

@media (min-width: 992px) {
  .bs-docs-sidebar .nav>.active>ul {
    display: block;
  }
}

.bs-docs-nav .navbar-nav>.active>a:hover,.bs-docs-nav .navbar-nav>li>a:hover{
  color:#463265;
  background-color:#f9f9f9
}

.bs-docs-sidebar .nav>li>a:focus,.bs-docs-sidebar .nav>li>a:hover{
  padding-left:19px;
  color:#563d7c;
  text-decoration:none;
  background-color:transparent;
  border-right:1px solid #563d7c
}

.bs-docs-sidebar .nav>.active:focus>a,.bs-docs-sidebar .nav>.active:hover>a,.bs-docs-sidebar .nav>.active>a
{padding-left:18px;
  font-weight:700;
  color:#563d7c;
  background-color:transparent;
  border-right:2px solid #563d7c
}

.bs-docs-sidebar .nav .nav{
  display:none;
  padding-bottom:10px
}

.bs-docs-sidebar .nav .nav>li>a{
  padding-top:1px;
  padding-bottom:1px;
  padding-left:30px;
  font-size:12px;
  font-weight:400
}

.bs-docs-sidebar .nav .nav>li>a:focus,.bs-docs-sidebar .nav .nav>li>a:hover{
  padding-left:29px
}

.bs-docs-sidebar .nav .nav>.active:focus>a,.bs-docs-sidebar .nav .nav>.active:hover>a,.bs-docs-sidebar .nav .nav>.active>a{
  padding-left:28px;
  font-weight:500
}

.back-to-top,.bs-docs-theme-toggle{
  display:none;
  padding:4px 10px;
  margin-top:10px;
  margin-left:10px;
  font-size:12px;
  font-weight:500;
  color:#999
}

.back-to-top:hover,.bs-docs-theme-toggle:hover{
  color:#563d7c;
  text-decoration:none
}

.breadcrumb {
  padding: 8px 25px;
  margin-bottom: -20px;
  font-size: 15px;
  background-color: white;
  border-radius: 0px;
}

#mkdocs-search-results > article {
  margin-top: 30px;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #eee;
}

#mkdocs-search-results > article > h3 {
  font-weight: 400;
}

#mkdocs-search-results > article > h3 > a {
  color: #3090e4;
}



